{% extends 'base.html' %}

{% block title %}
<title>退出登录 - kaku demo</title>
{% endblock title %}

{% block main %}
<div class="mdui-row">
    <div class="mdui-col-md-6 mdui-col-offset-md-3 mdui-col-xs-10 mdui-col-offset-xs-1">
        <div class="mdui-card kaku-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title mdui-typo-title">退出登录</div>
            </div>
            <div class="mdui-divider"></div>
            <div class="mdui-card-content">
                <p class="kaku-text-muted">确定要退出当前账号吗？</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="mdui-btn mdui-btn-raised mdui-color-grey-800">退出登录</button>
                    <a href="/" class="mdui-btn">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
