{% extends 'base.html' %}

{% block title %}
<title>重置密码 - kaku demo</title>
{% endblock title %}

{% block main %}
<div class="mdui-row">
    <div class="mdui-col-md-6 mdui-col-offset-md-3 mdui-col-xs-10 mdui-col-offset-xs-1">
        <div class="mdui-card kaku-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title mdui-typo-title">重置密码</div>
            </div>
            <div class="mdui-divider"></div>
            <div class="mdui-card-content">
                <form method="post" action="{% url 'account_reset_password' %}">
                    {% csrf_token %}
                    <div class="mdui-textfield">
                        <label class="mdui-textfield-label">邮箱</label>
                        <input class="mdui-textfield-input" type="email" name="email" value="{{ form.email.value|default_if_none:'' }}" required/>
                    </div>
                    {% if form.email.errors %}
                        <div class="kaku-text-muted">{{ form.email.errors }}</div>
                    {% endif %}
                    <div class="mdui-p-t-1">
                        <button type="submit" class="mdui-btn mdui-btn-raised mdui-color-grey-800 mdui-ripple">发送重置邮件</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
