{% extends 'base.html' %}

{% block title %}
<title>{{ picture.title }}</title>
{% endblock title %}

{% block main %}

<div id="picture-title">
    <a href="{{ picture.get_absolute_url }}" id="title"><h3>{{ picture.title }}</h3></a>
</div>
<hr>
<div class="picture-body" id="picture-body">
    <img id="thematic" style="  display:block;height:auto;max-width:100%;" src={{ picture.thematic }}/>
</div>
<br></br>
<div class="mdui-divider"></div>
<br></br>
{% include 'tag.html' %}
<br></br>
<li hidden class="type">picture</li>
<li hidden class="id">{{ picture.id }}</li>
{% include 'post_tag.html' %}

{% include 'comment/comment.html' %}

{% endblock main %}