{% extends 'base.html' %}

{% block title %}
<title>{{ picture.title }} - kaku demo</title>
{% endblock title %}

{% block main %}
<div class="mdui-row">
    <div class="mdui-col-md-8 mdui-col-offset-md-2">
        <div class="mdui-card kaku-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title mdui-typo-headline">{{ picture.title }}</div>
                <div class="mdui-card-primary-subtitle">
                    <span class="kaku-meta">
                        <a href="{{ picture.author.get_absolute_url }}">{{ picture.author }}</a>
                        &nbsp;·&nbsp; {{ picture.created_time }} &nbsp;·&nbsp; 浏览 {{ views }}
                    </span>
                </div>
            </div>
            <div class="mdui-divider"></div>
            <div class="mdui-card-content mdui-text-center">
                <img src="{{ MEDIA_URL }}{{ picture.thematic }}" style="max-width:100%; height:auto; border-radius:4px;"/>
            </div>
        </div>

        {% include 'post_like.html' %}

        {% include 'tag.html' %}

        {% if request.user.is_authenticated %}
        {% include 'post_tag.html' %}
        {% endif %}

        {% include 'comment/comment.html' %}
    </div>
</div>
{% endblock main %}
