{% extends 'base.html' %}

{% block title %}
<title>{{ picture.title }}</title>
{% endblock title %}

{% block main %}
<div>
    <div id="picture-title">
        <a href="{{ picture.get_absolute_url }}"><h3>{{ picture.title }}</h3></a>
        <p><a href="{{ picture.author.get_absolute_url }}" class="author">作者: {{ picture.author }}</a> · 点击: {{ views }} · {{ picture.created_time }}</p>
    </div>
    <hr>
    <div class="picture-body" id="picture-body">
        <img id="thematic" style="  display:block;height:auto;max-width:100%;" src={{ MEDIA_URL }}{{ picture.thematic }}/>
    </div>
</div>
<hr>
{% include 'post_like.html' %}
<hr>
<br></br>
{% include 'tag.html' %}
<br></br>
<li hidden id="type">picture</li>
<li hidden id="pk">{{ picture.id }}</li>

{% include 'post_tag.html' %}
<hr>
{% include 'comment/comment.html' %}

{% endblock main %}