{% extends 'base.html' %}
{% block main %}
{% for picture in picture_list %}
<div>
    <h3>
        <a href="{{ picture.get_absolute_url }}">{{ picture.title }}</a>
    </h3>
    <a href="{{ picture.author.get_absolute_url }}" class="author">作者: {{ picture.author }}</a>
    <div>
        <a href="{{ picture.get_absolute_url }}"> <img src={{ MEDIA_URL }}{{ picture.thematic }} class="img-rounded" width="50%" height="50%"/> </a>
    </div>
    <br>
    <p>{{ picture.created_time }}</p>
    <span class="tag-single">
        {% for tag in picture.tags.all %}
            <a class="badge" id="tags" href="/search/?query={{ tag }}" target="_blank">{{ tag }}</a>
    </span>
        {% empty %}
            <div class="no-tag">暂时还没有tag</div>
        {% endfor %}
</div>
<hr>
{% empty %}
    <div class="no-picture">暂时还没有图片</div>
{% endfor %}

{% include 'pagination.html' %}

{% endblock main %}
