{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<label for="id_title" class="form-control-label  requiredField">展示</label>
<div id="test-image-preview" 
    style="border: 1px solid #ccc; width: 100%; height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center center;">
</div>
{% crispy form %}

    <script>
    $(document).ready(function(){
        var objfile = document.getElementById('id_thematic');
        var input = $('#id_thematic')
        objfile.addEventListener('change', function () {
            var filepath = objfile.value;
            if (!filepath) {
                alert("请先选择上传文件");
                return;
            }
            var file = objfile.files[0];
            if (file.type !== 'image/jpeg' && file.type !== 'image/png' && file.type !== 'image/gif') {
                alert("不是有效的图片文件!");
                input.val('');
                return;
            } else if (file.size > 1024*1024) {
                alert("图片超过1mb");
                input.val('');
                return;
            }
            var reader = new FileReader();
                preview = document.getElementById('test-image-preview');
            reader.onload = function(e) {
                var data = e.target.result; // 'data:image/jpeg;base64,/9j/4AAQSk...(base64编码)...'            
                preview.style.backgroundImage = 'url(' + data + ')';
            };
            // 以DataURL的形式读取文件:
            reader.readAsDataURL(file);
        });
     });
    </script>
{% endblock main %}