django
django-model-utils
django-allauth==0.29.0
django-crispy-forms
django-mptt
django-imagekit
django-notifications-hq
django-simple-captcha
django-simplemde
django-pagedown
django-activity-stream
django-bootstrap-pagination

Markdown
Pygments
Pillow
python-slugify
bleach