{% extends 'base.html' %}
    {% block title %}
    <title>{{ article.title }}</title>
    {% endblock title %}

{% block main %}

<div class="page-header" id="article-title">
    <a href="{{ article.get_absolute_url }}" id="title"><h3>{{ article.title }}</h3></a>
</div>
<div class="article-body" id="article-body">
    <div id="content">{{ article.content|safe }}</div>
</div>

{% include 'tag.html' %}
<br></br>
<li hidden class="type">article</li>
<li hidden class="id">{{ article.id }}</li>
{% include 'post_tag.html' %}

{% endblock main %}