{% extends 'base.html' %}

    {% block title %}
    <title>{{ article.title }}</title>
    {% endblock title %}

{% block main %}

<div id="article-title">
    <a href="{{ article.get_absolute_url }}" id="title"><h3>{{ article.title }}</h3></a>
    {% include 'written/post_chapterid.html' %}
</div>
<hr>
<div class="article-body" id="article-body">
    <div id="content">{{ article.content|safe }}</div>
</div>
<br></br>
<div class="mdui-divider"></div>
<br></br>
{% include 'tag.html' %}
<br></br>
<li hidden class="type">article</li>
<li hidden class="id">{{ article.id }}</li>
{% include 'post_tag.html' %}

{% include 'comment/comment.html' %}

{% endblock main %}