{% extends 'base.html' %}

{% block main %}

{% for article in article_list %}
<div>
    <h3>
        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
    </h3>
    <a href="{{ article.author.get_absolute_url }}" class="author">作者: {{ article.author }}</a>
    <br></br>
    <div>{{ article.excerpt }}</div>
    </br>
    <p>{{ article.created_time }}</p>
    <span class="tag-single">
        {% for tag in article.tags.all  %}
        <a class="badge" id="tags" href="/search/?query={{ tag }}" target="_blank">{{ tag }}</a>
    </span>
        {% empty %}
        <div class="no-tag">暂时还没有tag</div>
        {% endfor %}
</div>
<hr>
{% empty %}
    <div class="no-article">暂时还没有发布的文章</div>
{% endfor %}

{% include 'pagination.html' %}

{% endblock main %}
