{% if user == article.author %}

<button type="button" class="mdui-btn mdui-btn-raised" id="chapter">
<a href="new/">添加章节</a>
</button>

{% endif %}
{% for chapter in chapter_list %}
    <button type="button" class="btn" id="chapters">
        {{ chapter.title }}
        <li hidden class="chaptersid">{{ chapter.id }}</li>
    </button>
{% endfor %}

<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
$(document).ready(function(){
    $(".btn").click(function(){
        var id = $(this).find('.chaptersid').text();
        $('.btn').removeAttr('disabled');
        $(this).attr("disabled","true");
        $.post("/written/chapter/"+id+"/",{'id':id}, function(ret){
            var jsonStr = JSON.stringify(ret);
            var obj = JSON.parse(jsonStr);
            $("#content").html("<div id=\"content\">" + obj.content + "</div>");
        });
    });
});

</script>