{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block style %}
<style>
    .wmd-spacer{
        width: 1px; 
        height: 20px; 
        margin-left: 10px;
        position: relative;
        display: inline-block; 
        list-style: none;
    }

    .wmd-wrapper .wmd-panel {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 10px;
    }

    .wmd-preview-title {
        margin-top: 20px;
    }

    .wmd-wrapper .textInput {
        height: 400px;
        background-color: white;
        max-width: 100%;
    }
</style>
{% endblock style %}

{% block main %}

    <nav class="card-header">
        <a href="{% url 'written:index' %}">kaku demo</a>
        <a>发布新文章</a>
    </nav>
    {% crispy form %}

{% endblock main %}

{% block script %}
    <script>
        $('#id_create_form').submit(function () {
            $('#submit-id-submit').attr('disabled', true).val('发布中...');
        })
    </script>
{% endblock script %}