<!DOCTYPE html>
{% load staticfiles %}
{% load notifications_tags %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href={% static '/css/mdui.min.css' %} rel="stylesheet"/>
    {% block title %}
    <title>kaku demo</title>
    {% endblock title %}
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.428571429;
            color: #333333;
            background-color: #f8f9fa;
        }

        .article-body {
            line-height: 30px;
        }

        .conment {
            height:auto;
            line-height: 30px;
        }
        
        .mdui-radio-icon {
        border-color: #448AFF;
        margin-left: 8px;
        }

        #div_id_tags {
            width: 35%;
        }
    </style>
    {% block style %}
    {% endblock style %}

    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src={% static '/js/mdui.min.js' %}></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        $(document).ready(function() {
            $(".captcha").click(function () {
                var form = $(this).parents('form');
                $.getJSON('/captcha/refresh/', {}, function (json) {
                    form.find('input[name="captcha_0"]').val(json.key);
                    form.find('img.captcha').attr('src', json.image_url);
                });
                return false;
            });
        });
    </script>
    {% block script %}
    {% endblock script %}
</head>
<body class="mdui-drawer-body-right">
    <header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">kaku demo</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/written">文章</a></li>
                    <li><a href="/picture">图画</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            option <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">没想好</a></li>
                        </ul>
                    </li>
                </ul>
                <button class="mdui-btn" style="height:50px;" mdui-drawer="{target: '#right-drawer', swipe: true}">open or close right drawer</button>
            </div>
        </div>
    </nav>
    </header>
    

    <div class="mdui-drawer mdui-drawer-right" id="right-drawer">

        <script>
            $(document).ready(function() {
                var target = $('#right-drawer');
                var link = location.pathname;
                $.get('/drawer/', {}, function (ret) {
                    var r = ret.replace(/\/drawer\//g, link);
                    target.html(r);
                });
            });
        </script>

    </div>
    
    <div class="container" style="max-width:100%;">
        {% block content %}
            {% block main %}
            {% endblock main %}
        {% endblock content %}
    </div>

</body>
<div style="padding-top: 10px;margin-left: 40%;">
    <p>2017 - 2017, powered by django</p>
</div>
</html>