
{% load notifications_tags %}

    <form class="navbar-form navbar-left" role="search" method="get" id="searchform" action="{% url 'search:search' %}">
        <div class="input-group">
            <input id="search" class="form-control" type="search" name="query" placeholder="搜索" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">搜索</button>
            </span>
        </div>
    </form>
    {% if request.user.is_authenticated %}
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'users:detail' request.user.username %}">{{ request.user.nickname }}</a>
        <div class="mdui-list-item-avatar"><img src="{{ request.user.mugshot_thumbnail.url }}" /></div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        {% notifications_unread as unread_count %}
        <a href="{% url 'index:notifications' %}"
           {% if unread_count %}style="color: red"
           {% endif %} class="mdui-list-item-content"aria-hidden="true"> {{ unread_count }} 条未读提醒</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'written:create' %}">发文</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'picture:create' %}">发图</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'follow:follow' %}">动态</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'users:profile' %}">设置</a>
    </li>
    <li class="mdui-list-item mdui-ripple login">
        <a class="mdui-list-item-content" href="{% url 'account_logout' %}?next={{ request.path }}">登出</a>
    </li>
    {% else %}
    <li class="mdui-list-item mdui-ripple login">
        <a class="mdui-list-item-content" href="{% url 'account_signup' %}?next={{ request.path }}">注册</a>
    </li>
    <li class="mdui-list-item mdui-ripple login">
        <a class="mdui-list-item-content" href="{% url 'account_login' %}?next={{ request.path }}">登录</a>
    </li>
    <li class="mdui-list-item mdui-ripple login">
        <a class="mdui-list-item-content" href="{% url 'oauth:github_login' %}">github登录</a>
    </li>
    
    {% endif %}