{% load notifications_tags %}
<ul class="mdui-list">
    {% if request.user.is_authenticated %}
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'users:detail' request.user.username %}">{{ request.user.nickname }}</a>
        <div class="mdui-list-item-avatar"><img src="{{ request.user.mugshot_thumbnail.url }}" style="width:32px;height:32px;border-radius:50%;"/></div>
    </li>
    <li class="mdui-list-item mdui-ripple">
        {% notifications_unread as unread_count %}
        <a href="{% url 'index:notifications' %}" class="mdui-list-item-content">
            未读提醒 {% if unread_count %}<span class="mdui-badge mdui-color-grey-700">{{ unread_count }}</span>{% endif %}
        </a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'written:create' %}">发文</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'picture:create' %}">发图</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'follow:follow' %}">动态</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'users:profile' %}">设置</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'account_logout' %}?next={{ request.path }}">登出</a>
    </li>
    {% else %}
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'account_signup' %}?next={{ request.path }}">注册</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'account_login' %}?next={{ request.path }}">登录</a>
    </li>
    <li class="mdui-list-item mdui-ripple">
        <a class="mdui-list-item-content" href="{% url 'oauth:github_login' %}">GitHub 登录</a>
    </li>
    {% endif %}
</ul>
