{% load kaku_pagination %}
{% elided_page_range page_obj as page_range %}
{% if is_paginated %}
<div class="mdui-p-t-2 mdui-p-b-2 mdui-text-center">
    {% for num in page_range %}
        {% if num == page_obj.number %}
            <span class="mdui-btn mdui-btn-raised mdui-color-grey-800">{{ num }}</span>
        {% elif num == '…' %}
            <span class="mdui-btn mdui-btn-icon" disabled>…</span>
        {% else %}
            <a href="{% page_url num %}" class="mdui-btn mdui-ripple">{{ num }}</a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}
