<div class="mdui-p-t-2 mdui-p-b-2 mdui-text-center">
    {% if request.user.is_authenticated %}
        {% if is_like %}
        <button class="mdui-btn mdui-btn-raised mdui-color-grey-200 mdui-ripple" id="dislike-btn" style="margin-left: 45%;">取消</button>
        {% else %}
        <button class="mdui-btn mdui-btn-raised mdui-color-grey-800 mdui-ripple" id="like-btn" style="margin-left: 45%;">点赞</button>
        {% endif %}
    {% else %}
        <a href="{% url 'account_login' %}?next={{ request.path }}" class="kaku-text-muted">登录后可以点赞</a>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        function bindLike() {
            var url = location.href.split("/");
            var type = url[4];
            var pk = url[5];

            $('#like-btn').off('click').on('click', function () {
                var $this = $(this);
                $.post('/like/', {type: type, pk: pk, ltype: 'like'}, function (ret) {
                    if (ret && ret.ok) {
                        $this.replaceWith('<button class="mdui-btn mdui-btn-raised mdui-color-grey-200 mdui-ripple" id="dislike-btn" style="margin-left: 45%;">取消</button>');
                        bindLike();
                    } else {
                        alert(ret && ret.msg ? ret.msg : '操作失败');
                    }
                });
            });
            $('#dislike-btn').off('click').on('click', function () {
                var $this = $(this);
                $.post('/like/', {type: type, pk: pk, ltype: 'dislike'}, function (ret) {
                    if (ret && ret.ok) {
                        $this.replaceWith('<button class="mdui-btn mdui-btn-raised mdui-color-grey-800 mdui-ripple" id="like-btn" style="margin-left: 45%;">点赞</button>');
                        bindLike();
                    } else {
                        alert(ret && ret.msg ? ret.msg : '操作失败');
                    }
                });
            });
        }
        bindLike();
    });
</script>
