{% if request.user.is_authenticated %}
<div class="mdui-card kaku-card">
    <div class="mdui-card-content">
        <div class="mdui-textfield" style="display:flex; align-items:center;">
            <input class="mdui-textfield-input" type="text" placeholder="输入标签后回车或点击添加" id="tag_input" style="flex:1; margin-right:8px;"/>
            <button type="button" class="mdui-btn mdui-btn-raised mdui-color-grey-800 mdui-ripple" id="tag_post">添加</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        function postTag(){
            var tag = $("#tag_input").val();
            var url = location.href.split("/");
            var type = url[4];
            var pk = url[5];

            if (tag == '') {
                alert('标签不能为空');
                return;
            }
            var $btn = $("#tag_post");
            $btn.attr("disabled","true");
            setTimeout(function(){ $btn.removeAttr('disabled'); }, 3000);
            $.post("/tags/",{'tag':tag, 'pk':pk, 'type':type}, function(ret){
                alert(ret);
                if (ret == '成功') {
                    location.reload();
                }
            });
        }
        $("#tag_post").click(postTag);
        $("#tag_input").keypress(function(e){
            if (e.which == 13) {
                e.preventDefault();
                postTag();
            }
        });
    });
</script>
{% else %}
    <div class="kaku-text-muted">需要登录才能添加标签</div>
{% endif %}
