<div class="mdui-card kaku-card">
    <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">标签</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-card-content">
        {% for tag in tag_list %}
            <a class="mdui-chip" href="/search/?query={{ tag }}" target="_blank">
                <i class="mdui-chip-icon mdui-icon material-icons">label</i>
                <span class="mdui-chip-title">{{ tag }}</span>
            </a>
        {% empty %}
            <span class="kaku-text-muted">暂无标签</span>
        {% endfor %}
    </div>
</div>
