{% extends 'base.html' %}

{% load bootstrap_pagination %}

{% block main %}
    {% if request.user.is_authenticated %}
    <main class="col-md-8 mb-1">
        <ul class="list-group">
            {% for act in action_list %}
                <li class="list-group-item">
                    {{ act }}
                </li>
            {% empty %}
                <li class="list-group-item">该用户下没有动态</li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="card card-block">
            需要登录才能查看用户动态
        </div>
        {% endif %}
            {% if action_list and paginator.num_pages > 1 %}
                {% bootstrap_paginate page_obj size='small' range=10 show_first_last='true' %}
            {% endif %}
        </ul>
    </main>
{% endblock main %}