{% extends 'base.html' %}

{% block title %}
<title>用户动态 - kaku demo</title>
{% endblock title %}

{% block main %}
<div class="mdui-row">
    <div class="mdui-col-md-8 mdui-col-offset-md-2">
        {% if request.user.is_authenticated %}
        <div class="mdui-card kaku-card">
            <div class="mdui-card-primary">
                <div class="mdui-card-primary-title">用户动态</div>
            </div>
            <div class="mdui-divider"></div>
            <ul class="mdui-list" style="padding-top:0; padding-bottom:0;">
                {% for act in action_list %}
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content">{{ act }}</div>
                    </li>
                {% empty %}
                    <li class="mdui-list-item">
                        <div class="mdui-list-item-content kaku-text-muted">该用户下没有动态</div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% include 'pagination_snippet.html' %}
        {% else %}
        <div class="mdui-card kaku-card">
            <div class="mdui-card-content mdui-text-center mdui-typo">需要登录才能查看用户动态</div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main %}
