{% extends 'base.html' %}

{% block main %}

<div class="media">
    <div class="media-left">
        <img class="media-object" src="{{ user.mugshot_thumbnail.url }}" alt=""
             style="width: 73px;"/>
    </div>
    <div class="media-body">
        <h3 class="media-heading">{{ user.nickname }} 
            {% if request.user == user %}
            {% else %}
                {% if isfollow %}
                <button class="mdui-btn mdui-color-theme-accent mdui-ripple" id="unfollow-btn" userid={{ user.id }}>取关</button>
                {% else %}
                <button class="mdui-btn mdui-btn-raised mdui-ripple" id="follow-btn" userid={{ user.id }}>关注</button>
                {% endif %}
            {% endif %}
        </h3>

        <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $(document).ready(function(){
            $('#follow-btn').click(function(){
                var $this = $(this);
                var $objectId = $this.attr('userid');
                $.post('/follow/create/',{object_id: $objectId,ftype: 'follow'},
                    function(ret){
                        if (ret=='成功'){
                            $this.attr('id', "unfollow-btn");
                            $this.attr('class', "mdui-btn mdui-color-theme-accent mdui-ripple");
                            $this.text('取关');
                            $this.off('click');
                        }else{
                            alert(ret);
                        }
                });
            });
        });
        $(document).ready(function(){
            $('#unfollow-btn').click(function(){
                var $this = $(this);
                var $objectId = $this.attr('userid');
                $.post('/follow/create/',{object_id: $objectId, ftype: 'unfollow'},
                    function(ret){
                        if (ret=='成功'){
                            $this.attr('id', "follow-btn");
                            $this.attr('class', "mdui-btn mdui-btn-raised mdui-ripple");
                            $this.text('关注');
                            $this.off('click');
                        }else{
                            alert(ret);
                        }
                });
            });
        });
        </script>

        <p>{{ user.signature }}</p>
        <div>django forum demo 第 {{ user.pk }} 号会员，加入于 {{ user.date_joined }}</div>

    </div>
</div>
<hr>
<ul class="article">
    <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-content">{{ user.nickname }} 的文章</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">translate</i>
    </li>
    {% for article in article_list %}
    <li class="mdui-list-item mdui-ripple">
        <a class="nav-item" href="{{ article.get_absolute_url }}"> {{ article }} </a>
    </li>
    {% empty %}
    <li class="mdui-list-item mdui-ripple">该用户下面没有</li>
    {% endfor %}
    {% if article_list.count > 9 %}
    <li class="mdui-list-item mdui-ripple"><a href="{% url 'users:articles' user.username %}"
        class="text-muted">{{ user.nickname }}更多文章>></a></li>
    {% endif %}
</ul>
<hr>
<ul class="picture">
    <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-content">{{ user.nickname }} 的图画</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">wallpaper</i>
    </li>
    {% for picture in picture_list %}
    <li class="mdui-list-item mdui-ripple">
        <a href="{{ picture.get_absolute_url }}"> <img src={{ picture.thematic }} class="img-rounded" width="50%" height="50%"/> </a>
    </li>
    {% empty %}
    <li class="mdui-list-item mdui-ripple">该用户下面没有</li>
    {% endfor %}
    {% if article_list.count > 9 %}
    <li class="mdui-list-item mdui-ripple"><a href="{% url 'users:picture' user.username %}"
        class="text-muted">{{ user.nickname }}更多图画>></a></li>
    {% endif %}
</ul>
<hr>
{% if request.user.is_authenticated %}
<ul class="activity">
    <li class="mdui-list-item mdui-ripple">
        <div class="mdui-list-item-content">{{ user.nickname }} 的动态</div>
        <i class="mdui-list-item-icon mdui-icon material-icons">motorcycle</i>
    </li>

    {% for act in action_list %}
        <li class="mdui-list-item mdui-ripple">
            {{ act }}
        </li>
    {% empty %}
        <li class="mdui-list-item mdui-ripple">该用户下没有动态</li>
    {% endfor %}
    {% if action_list.count > 19 %}
        <li class="mdui-list-item mdui-ripple"><a href="{% url 'users:actions' user.username %}"
        class="text-muted">{{ user.nickname }}的全部动态>></a></li>
    {% endif %}
</ul>
    {% else %}
    <div class="card card-block">
        需要登录才能查看用户动态
    </div>
    {% endif %}

{% endblock main %}