{% extends 'base.html' %}

{% block title %}
<title>图画列表 - kaku demo</title>
{% endblock title %}

{% block main %}
<div class="mdui-row">
    <div class="mdui-col-md-8 mdui-col-offset-md-2">
        <div class="mdui-row">
        {% for picture in picture_list %}
            <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-p-t-1 mdui-p-b-1">
                <div class="mdui-card mdui-hoverable" style="height: 100%;">
                    <a href="{{ picture.get_absolute_url }}"
                       data-lightbox
                       data-lightbox-src="{{ MEDIA_URL }}{{ picture.thematic }}"
                       data-lightbox-caption="{{ picture.title }}"
                       data-lightbox-group="user-pictures">
                        <img class="kaku-picture-thumb" src="{{ MEDIA_URL }}{{ picture.thematic }}" alt="{{ picture.title }}"/>
                    </a>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">
                            <a href="{{ picture.get_absolute_url }}">{{ picture.title }}</a>
                        </div>
                        <div class="mdui-card-primary-subtitle kaku-meta">{{ picture.created_time }}</div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="mdui-col-xs-12">
                <div class="mdui-card kaku-card">
                    <div class="mdui-card-content mdui-text-center mdui-typo">该用户没发过图</div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% include 'pagination_snippet.html' %}
    </div>
</div>
{% endblock main %}
