{% if request.user != user and request.user.is_authenticated %}
    {% if is_follow %}
    <button class="mdui-btn mdui-color-theme-accent mdui-ripple" id="unfollow-btn" userid={{ user.id }}>取关</button>
    {% else %}
    <button class="mdui-btn mdui-btn-raised mdui-ripple" id="follow-btn" userid={{ user.id }}>关注</button>
    {% endif %}
{% else %}

{% endif %}

<script>
    $(document).ready(function(){
        $('#follow-btn').click(function(){
            var $this = $(this);
            var $objectId = $this.attr('userid');
            $.post('/follow/create/',{object_id: $objectId,ftype: 'follow'},
                function(ret){
                    if (ret=='成功'){
                        $this.attr('id', "unfollow-btn");
                        $this.attr('class', "mdui-btn mdui-color-theme-accent mdui-ripple");
                        $this.text('取关');
                        $this.off('click');
                    }else{
                        alert(ret);
                    }
                }
            );
        });
    });
    $(document).ready(function(){
        $('#unfollow-btn').click(function(){
            var $this = $(this);
            var $objectId = $this.attr('userid');
            $.post('/follow/create/',{object_id: $objectId, ftype: 'unfollow'},
                function(ret){
                    if (ret=='成功'){
                        $this.attr('id', "follow-btn");
                        $this.attr('class', "mdui-btn mdui-btn-raised mdui-ripple");
                        $this.text('关注');
                        $this.off('click');
                    }else{
                        alert(ret);
                    }
                }
            );
        });
    });
</script>